@import url("https://fonts.googleapis.com/css?family=Spectral");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body {
    padding: 0;
    margin: 0;
    font-size: 0;
}
nav {
    background-image: url("images/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Spectral';
    color: white;
    text-align: center;
    border-top: 1px solid navy;
    background-color: #00004d;
}
.nav-item {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
    color: magenta;
}
h2 {
    color: navy;
    font-family: 'Spectral';
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Montserrat';
}
.footer {
    background-image: url("images/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: white;
    text-align: center;
    border-top: 1px solid RebeccaPurple;
    border-bottom: 1px solid RebeccaPurple;
    background-color: RebeccaPurple;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-text {
    font-size: 15px;
    font-family: 'Spectral';
    margin: 5px;
}
.pic-link {
    color: white;
}
.pic-link:hover {
    color: magenta;
}
@media (min-width: 701px) {
    h1 {
        font-size: 60px;
        margin: 5px;
    }
    .nav-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-item, h2 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
    .footer {
        height: 45px;
    }
}
@media (min-width: 415px) and (max-width: 700px) {
    h1 {
        font-size: 40px;
        margin: 3px;
    }
    .nav-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-item, h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .footer {
        height: 45px;
    }
}
@media (max-width: 415px) {
    nav {
        background-size: 130%;
    }
    h1 {
        font-size: 30px;
        margin: 3px;
    }
    .nav-item, h2 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .footer {
        height: 90px;
    }
}
